* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
# {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding: 5px 0;
	background-color: #F08080;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding: 15px 0;
	color: #F08080;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding: 25 px 20 px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #F08080;
	color: #fff;
}
.active {
	background-color: #F08080;
	color: #fff;
}
.banner {
	height: 60vh;
	background-image: url('agis.jpeg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(40, 193, 171, .6);
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color: #F08080;
	margin-bottom: 25px;
}
.about {
	text-align: center;
}
.service {
	padding-bottom: 100px;
}
.about p {
	color: #fff;
	word-spacing: 3px;
	line-height: 20px;
	margin-bottom: 20px;
}
.service {
	background-color: #f9f9f9;
}
.box {
	color: #F08080;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin: 0 auto;
}
.box .col-4 h4 {
	margin: 20px 0;
}
footer {
	padding: 30px 0;
	background-color: #F08080;
	color: #fff;
	text-align: center;
}
.bg-load {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-load .load {
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50%;
	border-top-color: #F08080;
	border-right-color: #F08080;
	border-bottom-color: #F08080;
	animation: puterin .8s linear infinite;
}
.label {
	background-color: #F08080;
	color: #fff;
}
.box1 {
	width: 25%;
	float: left;
	margin: 50px 20px;
	background-color: #fff;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
.box1 h5 {
	margin-bottom: 10px;
}
.box1 p {
	font-size: 15px;
	line-height: 20px;
	height: 90px;
	overflow: hidden;
}
.box1 a {
	display: inline-block;
	color: #fff;
	background-color: #F08080;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 8px;
	margin-top: 15px;
}
.box1 a:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.box1.showContent p{
	height: auto;
}
.box1.showContent a.readmore-btn{
	background-color: red;
}
.foot {
	clear: both;
	position: relative;
	margin-top: -200px;
	background-color: #FFB6C1;
	
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}