* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
# {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding: 5px 0;
	background-color: #F08080;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding: 15px 0;
	color: #F9f9f9;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding: 25 px 20 px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #F08080;
	color: #fff;
}
.active {
	background-color: #F08080;
	color: #fff;
}
.banner {
	height: 60vh;
	background-color: #f9f9f9;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(40, 193, 171, .6);
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color: #F08080;
	margin-bottom: 25px;
}
.about,
.service {
	padding-bottom: 100px;
}
.about p {
	color: #fff;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
}
.service {
	background-color: #f9f9f9;
}
.box {
	color: #F08080;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin: 0 auto;
}
.box .col-4 h4 {
	margin: 20px 0;
}
footer {
	padding: 30px 0;
	background-color: #F08080;
	color: #fff;
	text-align: center;
}